#billing-box > h3, #billing-box > p, #billing-box > form {
    text-align: center;
}
#billing-box > form {
    margin: 22px 0px 10px 0px;
}
#billing-box > h3 {
    margin-top: 0px;
    padding-top: 20px;
}
.invoice-box, #invoice-labels {
    width: 88%;
    margin-left: auto;
    margin-right: auto;
}
.invoice-box {
    background-color: #3f51b5;
    color: white;
    padding: 0px 10px 0px 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgb(122, 122, 122);
    margin-bottom: 20px;
}
#invoice-labels, .invoice-prices {
    display: flex;
    justify-content: space-between;
}
#invoice-labels > *, .invoice-prices > * {
    width: 22%;
}
.invoice-prices > div > h3, .invoice-prices > p {
    margin: 8px 0px 8px 0px;
}
.invoice-prices > p, .text-right {
    text-align: right;
}
.invoice-box > p {
    margin: 0px;
}
.invoice-details {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
}

@media only screen and (min-width: 600px) {
    #billing-box {
        width: 60%;
    }
    .invoice-box, #invoice-labels, #billing-box > h3, #billing-box > p, #billing-box > form {
        position: relative;
        left: 52%;
    }
    .invoice-box, #invoice-labels {
        width: 90%;
    }
    .invoice-box {
        padding: 4px 14px 4px 14px;
    }
}
@media only screen and (min-width: 1100px) {
    .invoice-box, #invoice-labels, #billing-box > h3, #billing-box > p, #billing-box > form {
        position: relative;
        left: 40%;
    }
    .invoice-box, #invoice-labels {
        width: 60%;
    }
    #billing-box > p {
        margin-top: 30px;
        margin-bottom: 35px;
    }
    .invoice-box {
        margin-bottom: 30px;
    }
    .invoice-prices > div > h3 {
        padding-bottom: 4px;
    }
    .invoice-prices > div, .text-left {
        width: 50%!important;
    }
}