#notifications-box {
    padding-top: 10px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
#notifications-box > h3 {
    text-align: center;
    margin-bottom: 30px;
}
.MuiCard-root {
    margin-bottom: 30px;
    box-shadow: 3px 2px 4px grey!important;
    border: 1px solid rgb(212, 212, 212);

}
.MuiTypography-gutterBottom {
    color: #3f51b5!important;
}
.MuiCardActions-root {
    padding-top: 0px!important;
}