#nav-box {
    display: flex;
    flex-direction: column;
    background-color: rgb(126, 126, 126);
    height: 100vh;
    width: 34%;
    padding: 50px 10px 0px 10px;
    float: left;
    position: fixed;
    left: -41%;
    z-index: 5;
    color: white;
}
#nav-box > a {
    margin-top: 20px;
    text-decoration: none;
    color: white;
}
#nav-box > a:hover {
    color: #3f51b5;
    font-weight: bold;
}
#nav-hamburger {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
}
#nav-hamburger > button {
    position: fixed;
    top: 10px;
    left: 10px;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 20px;
    background-color: #3f51b5;
    border: none;
    color: white;
}
#nav-hamburger > button:focus {
    outline: none;
}

.nav-box-hide {
    animation: nav-box-hide .5s 1 forwards;
}
@keyframes nav-box-hide {
    from { left: 0%; }
    to { left: -41%; }
}
.nav-box-show {
    animation: nav-box-show .5s 1 forwards;
}
@keyframes nav-box-show {
    from { left: -41%; }
    to { left: 0%; }
}


@media only screen and (min-width: 600px) {
    #nav-hamburger > button {
        display: none;
    }
    #nav-box {
        left: 0%;
        width: 15%;
        padding-left: 20px;
    }
    .nav-box-hide {
        animation: none;
    }
}

@media only screen and (min-width: 1100px) {
    #nav-box {
        width: 10%;
    }
}